@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --selected-background: #222222;
  --foreground: #FFF8DC; /* body-cornsilk */
  
  --primary-gold: #FFD700;
  --accent-amber: #FFBF00;
  --body-cornsilk: #FFF8DC;
  --dimmed-darkgoldenrod: #B8860B;
  --notes-lightyellow: #fff3bf;
}

body {
  color: var(--body-cornsilk);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
